@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Cookie);
@import url(http://fonts.googleapis.com/css?family=Lato);

$oldbodycolor: #FFFDF7; 
$bodycolor: white;
$headercolor: #04859D;
$secondheadercolor: white;
$oldsecondheadercolor: #206876;
$headingcolor: #37395B;
$tableheadercolor: #1D2951;


/*$bodycolor: #04859D;*/
$headercolor: #1D2951;
$tableheadercolor:#04859D;

* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
/*$headingcolor: #58959A; */
body {
font-family: 'Lato', sans-serif;
font-size: 24px;
background-color: $bodycolor;
margin: 0;
padding: 0;
}

h1, h2, h3 {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 120px;
  color: white;
  font-family: "Cookie";
  display: inline;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

h1.second{
  font-color: orange;
  display: inline;
}

h2{
  color: $headercolor;
}


table {
  border-collapse: collapse;
  text-align: center;
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: $headercolor;
  text-decoration: none;
  &:visited {
    color: #000;
  }
/*  &:hover {
    color: gray;
  }*/
}


#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.tablesupport {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 24px;
  border-collapse: collapse;
  border-color: orange;
}

th {
  background-color: $tableheadercolor;
  color: white;
  font-size: 20px;
  font-family: "Lato";
  color: white;
  text-shadow: 2px 2px 5px #800000;
  margin-bottom: 10px;

      &:hover {
    color: white;
  }
}


td {
  border: $tableheadercolor dashed 1px;
  font-family: "Lato";
  font-size: 16px;

}

tr {
  border: $tableheadercolor solid 1px;



    &:hover {
    color: white;
    background-color: $headercolor;
      a{
      color: white;
      }
      a:visited{
      color: white;
      }
   }
}


.header {
  background-color: $headercolor;
  font-weight: lighter;
  border-bottom: $tableheadercolor solid 5px;
}
.secondheader {
  background-color: $secondheadercolor;
}
h2.secondheader {
  color: $oldsecondheadercolor;
}

.centered {
  text-align: center;
  margin: 0 auto;
  width: 500px; 
}

.centered{
  h2,h3{
    font-family: "Lobster";
    color: $headercolor;
    text-shadow: 2px 2px 5px #FFFFFF;

  }
  h3{
    color: $tableheadercolor;
  }
}

#quizdiv input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;

}

#quizdiv {
  border: lighten(darkgray, 25%) solid 1px;
  background-color: white;
  -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
  width: 550px;
  height: 250px;
  padding-top: 25px;
  margin-top: 25px;
  
}
#quizdiv h1 {
  color: darken(darkgray, 40%);
  font-family: "Bree Serif";
  font-size: 80px;
  text-align: center;
}

.carddiv {
  border: lighten(darkgray, 25%) solid 1px;
  background-color: white;
  -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
  width: 550px;
  height: 250px;
  padding-top: 25px;
  margin-top: 25px;
  
}
.carddiv h1 {
  color: darken(darkgray, 40%);
  font-family: "Bree Serif";
  font-size: 80px;
  text-align: center;
}

.carddiv input {
  font-size: 60px;
  font-family: "Bree Serif";
  width: 400px;
  height: 200px;
  border: none;
  outline: none;
  text-align: center;
}


.emphasis {
  background-color: orange;
-moz-border-radius: 15px;
border-radius: 15px;
width: 200px;
margin: 0 auto;
text-align: center;
margin: 0 auto;
-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);

    &:hover {
    background-color: $headercolor;
    color: white;
  }
}

.indexcontainer {
  background-color: $tableheadercolor;
  width: 100%;
  height: 100%;
  color: white;
}

.indexcontainer h1 {
  font-size: 250px;
  text-shadow: 2px 2px 5px #800000;
}

.indexcontainer h2{
  font-size: 40px;
  font-family: "Lobster";
  color: orange;
  text-shadow: 2px 2px 5px #800000;
  margin-bottom: 10px;
}

.introblocks {
margin-top: 0px;
}

.block {
vertical-align: top;
background-color: white;
color: $headercolor;
-moz-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
width: 225px;
height: 200px;
display: inline-block;
font-family: "Bree Serif";
font-size: 40px;
text-shadow: 2px 2px 5px #808080;
line-height: 40px;
    &:hover {
    background-color: orange;
  }

}



.block2 {
vertical-align: top;
background-color: orange;
color: white;
-moz-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
width: 225px;
height: 200px;
margin-left: 30px;
margin-right: 30px;
display: inline-block;
font-family: "Bree Serif";
font-size: 40px;
text-shadow: 2px 2px 5px #800000;
    &:hover {
    background-color: white;
  }
}

.block3 {
vertical-align: top;
background-color: $secondheadercolor;
color: orange;
-moz-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
width: 225px;
height: 200px;
display: inline-block;
font-family: "Bree Serif";
font-size: 40px;
line-height: 40px;
    &:hover {
    background-color: orange;
  }
}

.block h2 {
margin-top: 30px;
font-family: "Lato";
font-size: 55px;
line-height: 60px;
text-shadow: 2px 2px 5px #808080;
    &:hover {
    color: white;
  }
}
.block2 h2 {
margin-top: 30px;
color: white;
font-family: "Lato";
font-size: 55px;
text-shadow: 2px 2px 5px #808080;
line-height: 60px;
    &:hover {
    color: orange;
  }
}

.block3 h2 {
margin-top: 30px;
color: orange;
font-family: "Lato";
font-size: 55px;
text-shadow: 2px 2px 5px darken(#04859D, 20%);
line-height: 60px;
    &:hover {
    color: $headercolor;
  }
}
h2.inline {
  margin-bottom: 30px;
}

.introblocks {
  margin-bottom: 30px;
}

.indexlinks a{
  color: white;
    &:hover {
    color: yellow;
  }
}

h2.signingup {
  color: white;
  padding: 0px;
  margin-bottom: -20px;
  text-shadow: 2px 2px 5px black;
}

.background{
  background-color: $headercolor;
  color: white;
  padding: 0px;
  padding-top:5px;
  margin: 0px;
}
.background a {
  color: white;
}

h3 a{
  color: black;
}

.lingheader {
  background-color: $headercolor;
  color: white;
  width: 100%;
  height: 35px;
  padding-top: 10px;
  padding-bottom: -10px;

  h1{
    font-size: 35px;
    text-shadow: rgb(128, 0, 0) 2px 2px 5px;
  }
}



.headingdiv {
  border-bottom: black solid 4px;
  width: 100%;
  p {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    letter-spacing: 1px;
  }
  font-family: 'PT Sans Narrow';
  color: navy; 

}

#wordbank {
 border: darken(orange, 15%) solid 1px;
 width: 100%;
 margin-top: -30px;
 background-color: white;
 color: gray;
 font-size: 14px;
 font-family: Lato;
 text-align: center;
 text-shadow: none;

}

#results {
width: 100%;
  h2{
    padding-top: 10px;
    color: white;
  }
  font-family: "Bree Serif";
  font-size: 20px;
  background-color: #1D2951;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.label {
   font-weight: bold;
}

.urldiv {
  background-color: $headercolor;
  width: 100%;
  p {
    font-size: 20px;
    text-align: left;
    padding: 10px;
    letter-spacing: 1px;
  }
  font-family: 'PT Sans Narrow';
  color: white;
  text-align: left;

}



.addingcards{
  padding: 0px;
  margin: 0px;
  height:400px;
  overflow:scroll;
}

#addingterms{
  width: 35%;
  border: black solid 1px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
}

#addingdefinitions{
  width: 35%;
  border: black solid 1px;
  display: inline-block;
  padding: 0px;
  margin-left: -5px;
}

.selection{
  border: $headercolor solid 1px;
  width:100%;
  height: 45px;
  vertical-align: top;
}

.selectionheaders{
  background-color: $tableheadercolor;
  color: white;
}

.bam h2{
  font-size: 30px;
  font-family: "Lato";
text-shadow: 2px 2px 7px #FFFFFF;
  margin-bottom: 10px;
  a{
    color: $headercolor;
  }


}

.bam h3{
  font-family: "Lato";
  text-shadow: 2px 2px 7px #FFFFFF;
  margin-bottom: 10px;
  font-size: 20px;
  a{
    color: $headercolor;
  }
  a:hover{
    color: $tableheadercolor;
  }
}

#stickyribbon{
  position: fixed;
  z-index: 100;
  top: 0;
  margin: 0;
}