<div class = "centered">Editing <%= @deck.name %> Deck</h2> </div>
<div class = "centered">Add, remove, and revise cards below. </div>

<%= render 'form' %>

<%= link_to 'Show', deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
