<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<%= render 'header' %>
<div class = "secondheader"><h2 class = "secondheader">New Deck</h2> </div>
<div class = "decorative">Enter your new deck below. </div>


<%= render 'form' %>

<%= link_to 'Back', decks_path %>
