<html>
<head>
  </head>
  <body>

<% require 'open-uri' %>
<p id="notice"><%= notice %></p>
<p id="deckid"><%= @deck.id %></p>
<% url = "http://www.lemonde.fr/sport/article/2013/08/13/perche-la-tsarine-isinbayeva-triomphe-devant-son-public_3461124_3242.html" %>
<% doc = Nokogiri::HTML(open(url)) %>
<div class = "headingdiv">
	<div class = "emphasis"><!-- 
		<h3> <%= link_to 'Add Deck', new_deck_path %></h3> -->
  </div>
    <div id = "results"><h2>Selected Terms and Definitions</h2><br /><br /> <div id = "wordbank"> quand Silva, vice-championne olympique, a </p></div></div>
	</div>
</div>
<br />



<div>
<%= raw(doc.to_html) %>


</div>
<p> You can use this feature to enter a url, load the page, and add selected text to the terms.
	If definitions are available, we will provide the definitions and then allow you to submit your deck.
</p>


<h2> The words you've selected are: </h2>
<div id = "results"> 


</div>

Get highlighted words and push them into an array
Look up definitions
Send the results to Rails


 
 <script>
 termsArray = [];
 definitionArray = []; 

 //Finding Translation and Appending Term
function getTranslation(term){
	var query = "http://api.wordreference.com/0.8/22816/json/fren/"+ term; 

	var result = $.ajax({
	    url: query,
	    type:'GET',
	    dataType:'JSONP',
	    success: function(data){
	    var translation = data["term0"]["PrincipalTranslations"]["0"]["FirstTranslation"]["term"]
	    $('#wordbank').append("Definition: " + translation);
	    }
	});
};


 selectedTerms = []

if(!window.Kolich){
  Kolich = {};
}

Kolich.Selector = {};
Kolich.Selector.getSelected = function(){
  var t = '';
  if(window.getSelection){
    t = window.getSelection();
  }else if(document.getSelection){
    t = document.getSelection();
  }else if(document.selection){
    t = document.selection.createRange().text;
  }
  return t;
}

Kolich.Selector.mouseup = function(){
  var st = Kolich.Selector.getSelected();
  if(st!=''){
    var selection = $('#wordbank').append("<br />Term: <span class='justadded'>" + st + " </span>");
    var newTerm = $('.justadded').first().text(); 
    selectedTerms.push(selection.text());
    getTranslation(newTerm); 
    $('.justadded').removeClass('justadded');
  }
}

$(document).ready(function(){
  $(document).bind("mouseup", Kolich.Selector.mouseup);
});

 </script>
</body>
</html>